*{
    margin: 0;
    padding: 0;
}
// Variables
$primary-color: #306492;
$secondary-color: #2c3e50;
$border-color: #bdc3c7;

// Body styles
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

// Form container
.register{
  background-color: #dce3ed;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 250px;
}
h1{
    margin-bottom: 20px;
}
// Form styles
form {
  display: flex;
  flex-direction: column;
}

// Input styles
input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 3px;
  font-size: 16px;
}

// Button styles
.button {
  background-color: $primary-color;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  transition: background-color 0.3s;
 

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
