@import "../variables.scss";

.user{
  margin: auto;
  padding-top: 50px;
  width: 70%;
 background-color: azure;
 
  .user-profile {
    width: 100%;
    display: flex;
    margin-top: 10px;
    // margin-bottom: 25px;
    padding: 20px 0;
    .pic{
      width: 33%;
      display: flex;
      img{
        height: 150px;
        width: 150px;
        margin: auto;
      }
    }
    .details{
      
      width: 60%;
      .div1{
        display: flex;
        flex-direction: row;
       
       .div2{
        margin: auto;
        margin-left: 10px;
        h1{
          font-size: 2 rem;
          margin-bottom: 15px;
          
        }
      }
      .div3{
        .logout-button {
          background-color: #b25a5a; /* Darker red background color */
          color: #fff;
          padding: 10px 20px;
          font-size: 16px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
        
        .logout-button:hover {
          background-color: #822828; /* Slightly darker red color on hover */
        }
        
        .logout-button:active {
          background-color: #741f1f; /* Even darker red color on button press */
        }
        
      }
    }
      div{
        ul{
          display: flex;
          flex-wrap: wrap;
          li{
            list-style: none;
            margin-right: 10px;
            span{
              margin-right: 5px;
              font-size: 1.1rem;
              font-weight: 600;
              
            }
          }
        }
      }
      section{
        margin: 20px 0;
      }
    }

  }
  hr{
    width: 85%;
    margin: auto;
    border: 1px solid grey;
    border-top: 0;
  }
  .addcoupon{
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: center;
   
    button{
      margin-top: 5px;
      background-color: #405b8b;
      color:  #fff; ;
    
    }
    button:hover {
      background-color: #2a477b /* Slightly darker red color on hover */
    }
  }
  .user-coupons {
    // margin: 20px 0;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    ul{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;
      li{
        list-style: none;
        cursor: pointer;
        margin: 0 10px;
        &.active{
          border-bottom: 2px solid grey;
        }
      }

    }
  }
}
